<md-toolbar layout="row" color="primary">
    <a md-button routerLink="">
        <md-icon>home</md-icon>
        <span>Home</span>
    </a>
    <a md-button routerLink="/players">
        <md-icon>people</md-icon>
        <span>Players</span>
    </a>
    <a md-button routerLink="">
        <md-icon>list</md-icon>
        <span>Games</span>
    </a>
    <span class="flex-filler"></span>
    <a md-button routerLink="/login">
        <md-icon>exit_to_app</md-icon>
        <span>Login</span>
    </a>
</md-toolbar>
<div class="router-outlet-content">
    <router-outlet></router-outlet>
</div>
