body {
    margin: 0;
}

.router-outlet-content {
    margin-top: 10px;
}

.player-list-container .player-list-card {
    margin: 5px;
}

.player-list-container>div {
    flex-wrap: wrap;
}

.player-container .win-loses-chart-wrapper {
    max-height: 100px;
    max-width: 350px;
}

.flex-filler {
    flex: 1 1 auto;
}

.login-external-wrapper {
    margin-top: 10px;
}
